---
layout: default
---

{% include lang.html %}

<style>
  .resume {
    text-align: center;
  }
  .resume-posts .list-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<div class="resume">
  <h1>{{ page.title }}</h1>

  <!-- Resume Content -->
  {{ content }}

  <!-- List of Resume Posts -->
  <div class="resume-posts">
    {% assign resume_posts = site.posts | where: "resume", true %} {% if
    resume_posts.size > 0 %}
    <ul class="list-group">
      {% for post in resume_posts %}
      <li class="list-group-item">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="text-muted small font-weight-light">
          {{ post.date | date: "%Y-%m-%d" }}
        </span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>暂无简历。</p>
    {% endif %}
  </div>
</div>
